{% extends "base.html" %} {% block content %}
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
  <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'user_logout' %}" class="nav-link px-2">Выйти</a></li>
  <li>Email: {{ user.email }}</li>
  {% else %}
  <li><a href="{% url 'login' %}" class="nav-link px-2">Вход</a></li>
  <li><a href="{% url 'register' %}" class="nav-link px-2">Регистрация</a></li>
  {% endif %}
</ul>
{% endblock %}
